
#foodbottom-background{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-position: center;
}
/* .logoheader{
  text-align: center;
  color: white;
} */
#foodbottom-content-section{
  width: 68%;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 90px;
  margin-bottom: 50px;
  border: 1px solid grey;
  height: 300px;
  background-color: white;


}
