#subscribe-row{
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 280px;

}
/* #subscribe-button{
  width: 50%;
  height: 34px;
  cursor: pointer;"
  background-color:



} */
/*
.soundest-subscribe{
  background-color:grey;
    height: 34px;
    width: 30%
}
.subscribe-form{
  background-color:grey;
    height: 34px;
    width: 30%
}
.subscribe-button{
  color:orange;
    height: 34px;
    width: 20%
    align: center;
} */
