
#foodbottom-background{
  background-image: url("../img/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position: center;
}
/* .logoheader{
  text-align: center;
  color: white;
} */
#foodbottom-content-section{
  width: 68%;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 75px;
  margin-bottom: 50px;
  color: #F15A29;
  height: 300px;
  background-color: white;
  border: 1px solid white;
}
#foodbottom-content-sub-section-1{
  text-align: center;
  color: #F15A29;

}
#foodbottom-content-thumbnail{
  border: 1px solid white;
}
#foodbottom-section-header-1{
color: #F15A29;
text-align: center;
background-color: white
height: 35px
}
#foodbottom-section-header{
  text-align: center;
  background-color: grey;
  height: 35px;
  color: black;
  border: 0.1px solid white;
}
